.main-div {
	display:grid;
    grid-template-columns: 20% 80%;
}


.slicers {
    padding:24px 16px;
    background-color: lightblue;
	position: sticky;
	top: 0px;
	min-height: 100vh;
}
.graphs {
	padding:20px;
	background-color: white;
	box-sizing: border-box;
}
